.nav-header {
  background-color: #2c364c;
  padding: 12px 20px;
}

.nav-content {
  display: flex;
  align-items: center;  
  justify-content: space-around;
}

.website-logo {
  padding-top: 10px;
  width: 120px;
  display: flex;
  align-items: center; 
  align-self: flex-end;       
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #f8fafc;
  font-size: 18px;
}

.logout-desktop-button {
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.nav-mobile-menu {
  display: none;
}

.logout-mobile-button {
  display: none;
  background: none;
  border: none;
  color: #f8fafc;
  font-size: 24px;
  cursor: pointer;
}

.home-logo,
.job-icon,
.logout-logo {
  font-size: 24px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .website-logo {
    width: 95px;
  }

  .nav-menu,
  .logout-desktop-button {
    display: none;
  }

  .nav-mobile-menu {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin-left: auto; 
  }

  .logout-mobile-button {
    display: block;
    margin-left: 8px;    
  }
}
